[*.cs]

# SA1305: Field names should not use Hungarian notation
dotnet_diagnostic.SA1305.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

#CA1822: Mark method as static
dotnet_diagnostic.CA1822.severity = none
